.app_dark_theme {
    --bg-color: #1f1f58;
    --inverted-bg-color: #cbcbe0;
    --primary-color: #7acb7a;
    --secondary-color: #468146;
    --inverted-primary-color: #0d0d86;
    --inverted-secondary-color: #6c6cd9;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #2d2dbb;

    // card
    --card-bg: #252572;
}
