.app.dark {
  --bg-color: #1f1f58;
  --inverted-bg-color: #cbcbe0;

  --primary-color: #468146;
  --secondary-color: #7acb7a;
  --inverted-primary-color: #0d0d86;
  --inverted-secondary-color: #6c6cd9;
}