:root {
    --bg-color: #cbcbe0;
    --inverted-bg-color: #1f1f58;
    --primary-color: #0d0d86;
    --secondary-color: #6c6cd9;
    --inverted-primary-color: #7acb7a;
    --inverted-secondary-color: #468146;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
