.app.light {
    --bg-color: #cbcbe0;
    --inverted-bg-color: #1f1f58;
    --primary-color: #0d0d86;
    --secondary-color: #6c6cd9;
    --inverted-primary-color: #468146;
    --inverted-secondary-color: #7acb7a;
}
